<table class="group-details">
    <tr>
        <td class="base-font-light-color base-tile label">{{=it.lang.PROGRESS}}:</td><td class="base-font-color base-tile value">{{=it.model.progress}} %</td>
        <td class="base-font-light-color base-tile label">{{=it.lang.AUTHOR}}:</td><td class="base-font-color base-tile value">{{=it.model.author}}</td>
    </tr>
    <tr>
        <td class="base-font-light-color base-tile label">{{=it.lang.LAST_SEEN}}:</td><td class="base-font-color base-tile value">{{=it.model.last_time_learn}}</td>
        <td class="base-font-light-color base-tile label">{{=it.lang.CATEGORY}}:</td><td class="base-font-color base-tile value">{{=it.model.category}}</td>
    </tr>
    <tr>
        <td class="base-font-light-color base-tile label">{{=it.lang.NUMBER_OF_EXPRESSIONS}}:</td><td class="base-font-color base-tile value">{{=it.model.length}}</td>
        <td class="base-font-light-color base-tile label">{{=it.lang.DOWNLOADED_DAY}}:</td><td class="base-font-color base-tile value">{{=it.model.created.split(" ")[0]}}</td>
    </tr>
</table>

{{ if(it.model.length === 0) { }}
        <div class="no-data">
            <div class="no-data-icon"></div>
            <div class="no-data-info">{{=it.lang.EMPTY_SET}}</div>
        </div>

{{ } else { }}
<div class="banner">
    this is banner
</div>
    <div class="actions">
        <div class="actions-top">
            <div class="action" id={{ if(it.model.progress===100) {}}"repeat-learn"{{ } else { }} "learn"{{}}}>
            <div class="image-wrapper">
                <div class="button-image"></div>
            </div>
            <div class="text green-font-color"> {{ if(it.model.progress===100) {}}{{=it.lang.REPEAT_LEARN}}{{ } else { }} {{=it.lang.LEARN}}{{}}} </div>
        </div>
        <div class="action" id="browse">
            <div class="image-wrapper">
                <div class="button-image"></div>
            </div>
            <div class="text green-font-color">{{=it.lang.BROWSE}}</div>
        </div>
    </div>
    <div class="actions-bottom">
        <div class="action {{ if(it.isUserOwner  || it.model.marked || it.model.ff_recommend === '1' || it.model.ff_recommend === 1) {}}disabled{{ } }}" id="mark">
            <div class="image-wrapper">
                <div class="button-image"></div>
            </div>
            <div class="text">{{=it.lang.MARK}}</div>
        </div>
        <div class="action {{ if(it.isUserOwner  || it.reportDisabled) {}}disabled{{ } }}" id="report">
            <div class="image-wrapper">
                <div class="button-image"></div>
            </div>
            <div class="text">{{=it.lang.REPORT}}</div>
        </div>
    </div>
    <div class="group-sub-options">
        <div class="end-learning">
            <div class="image"></div>
            <div class="text base-font-color">{{=it.lang.END_LEARNING}}</div>
            <div class="text base-font-color">{{=it.lang.SET_1}}</div>
        </div>
    </div>
{{ } }}
