<ul id="settings-list" class="select-input-list">
    <li id="app-language">
        <div>
            <div class="left">
                <div class="setting-name">{{=it.lang.APPLICATION_LANG}}</div>
                <div class="setting-value">{{=it.lang.LANGUAGES[it.settings.appLang]}}</div>
            </div>
            <div class="right">
                <div class="picker">
                </div>
            </div>
        </div>
    </li>
    <li id="settings-network-separator">
        <div id="settings-network-required">
            {{=it.lang.SETTINGS_NETWORK_REQUIRED}}
        </div>
        <div id="refresh"></div>
    </li>
    <li id="native-lang">
        <div>
            <div class="left">
                <div class="setting-name">{{=it.lang.NATIVE_LANG}}</div>
                <div class="setting-value">{{=it.lang.LANGUAGES[it.settings.nativeLang]}}</div>
            </div>
            <div class="right">
                <div class="picker">
                </div>
            </div>
        </div>
    </li>

    <li id="learning-lang">
        <div>
            <div class="left">
                <div class="setting-name">{{=it.lang.LEARNING_LANG}}</div>
                <div class="setting-value">{{=it.lang.LANGUAGES[it.settings.learningLang]}}</div>
            </div>
            <div class="right">
                <div class="picker">
                </div>
            </div>
        </div>
    </li>
</ul>