{{ if(it.collection.length) { }}
<ul id="search-list" class="words-groups-list">
    {{ for(var i = 0; i < it.collection.length; i++) { }}
    <li class="words-group base-tile">
        {{ var index = (( (it.page - 1) * it.itemsPerPage) + i + 1); }}
        {{ var fontSize = (function () {
            if(index < 100) {
                return 25;
            } else if (index < 1000) {
                return 20;
            } else if (index < 10000){
                return 15;
            } else {
                return 12;
            }
        }()); }}
        <div class="left-container base-green-dark-bg" style="font-size: {{=fontSize}}px">
            {{=index}}
        </div>

        <div class="group-info">
            <div class="group-header">

                <span class="name base-font-color">{{=it.collection[i].name}}</span>
            </div>

            <table class="base-font-light-color">
                <tr class="level description-item">
                    <td class="text">{{=it.lang.EXPRESSIONS}}:</td>
                    <td class="base-font-color text-value">{{=it.collection[i].length}}</td>
                </tr>
                <tr class="downloaded description-item">
                    <td class="text">{{=it.lang.DOWNLOADED}}:</td>
                    <td class="base-font-color text-value">{{=it.collection[i].downloaded}}</td>
                </tr>
                <tr class="number-of-expressions description-item">
                    <td class="text">
                        {{=it.lang.CATEGORY}}:
                    </td>
                    <td class="base-font-color text-value">
                        {{=it.lang.CATEGORIES[it.collection[i].category]}}
                    </td>
                </tr>
            </table>
        </div>


            {{ if(it.collection[i].ff_recommend === "1" || it.collection[i].ff_recommend === 1) { }}
                <span class="recommend-container">
                    <span class="icon"></span>
                    <span class="label">myFiches</span>

            {{ } else { }}
                <span id="stars-container">
                        <span id="stars-background"></span>
                        <span id="stars-background-green" style="width: {{=(it.collection[i].markValue * 100) / 5}}%"></span>
                </span>
            {{ } }}

        </span>

        <div class="group-meta-data">
            <div class="group-lang-data">
                <div class="flag-{{=it.collection[i].origin_lang}}"></div>
                <div class="arrow"></div>
                <div class="flag-{{=it.collection[i].translation_lang}}"></div>
            </div>
        </div>

        <div class="group-search-level-data">
            <div class="label">{{=it.lang.LEVEL}}:</div>
            <div class="level-wrapper">
                {{ for(var j = 0; j < it.collection[i].level; j++) { }}
                <span class="level-icon"></span>
                {{ } }}
            </div>
        </div>

        <div class="group-buttons" data-id="{{=it.collection[i].id}}">
            <div class="options button base-green-light-bg">
                <span class="icon"></span>{{=it.lang.MORE}}
            </div>
            <!--<div class="start-learn button base-green-light-bg">-->
                <!--<span class="icon"></span>pobierz-->
            <!--</div>-->
            <!--<a class="options button"></a>-->
            <!--<a class="start-learn button"></a>-->
        </div>
    </li>
    {{ } }}
</ul>
{{ } else { }}
<div class="no-data">
    <div class="no-data-icon"></div>
    <div class="no-data-info">{{=it.lang.NO_SETS_WITH_GIVEN_CRITERIA}}</div>
</div>
<div id="no-sets-searched"></div>
{{ } }}

<div id="paginator-container"></div>