<div id="progress" style="width:{{=it.groupModel.progress}}%">
    <div id="counter">
        <span id="learned-words-counter">{{=it.learned}}</span>/{{=it.groupModel.length}}
    </div>
</div>
<div class="switch-lang">
    <!--<span class="switch-arrow"></span>-->
    {{if(it.learnInReverse) {}}
        <span class="flag flag-left flag-{{=it.groupModel.translation_lang}}"></span>
        <span class="flag flag-{{=it.groupModel.origin_lang}}"></span>
    {{} else {}}
        <span class="flag flag-left flag-{{=it.groupModel.origin_lang}}"></span>
        <span class="flag flag-{{=it.groupModel.translation_lang}}"></span>
    {{}}}

</div>

<div id="question" class="base-tile">
    <div class="question-header sup-header">{{=it.lang.QUESTION}}:</div>
    <div id="question-value">

    </div>
</div>

<div id="answer" class="base-tile">
    <div class="answer-header sup-header">{{=it.lang.ANSWER}}:</div>
    <div id="answer-value" class="green-font-dark-color">

    </div>
</div>

<div id="usage-example">
    <div class="answer-header sup-header">{{=it.lang.USAGE_EXAMPLE}}:</div>
    <div id="usage-example-value">

    </div>
</div>

<div id="show-answer">
    <div class="image"></div>
    <div class="text">{{=it.lang.SHOW_ANSWER}}</div>
</div>

<table id="buttons-container">
    <tr>
        <td>
            <div class="button" id="button-ok" data-value="2">
                <div class="image"></div>
            </div>
        </td>
        <td>
            <div class="button" id="button-not-sure" data-value="1">
                <div class="image"></div>
            </div>
        </td>
        <td>
            <div class="button" id="button-wrong" data-value="0">
                <div class="image"></div>
            </div>
        </td>
    </tr>
</table>