<div id="description" class="base-font-dark-color">
    <div>{{=it.lang.REPORT_1}}</div>
    <div>{{=it.lang.REPORT_2}}</div>
    <div>({{=it.lang.REPORT_3}})</div>
    <div>{{=it.lang.REPORT_4}}</div>
</div>

<div id="form" class="base-tile">
    <div id="type-header" class="">{{=it.lang.REPORT_5}}:</div>
    <div id="vulgarism" class="checkbox">
        <div class="icon-wrapper">
            <div class="icon"></div>
        </div>
        <div class="label green-font-dark-color">{{=it.lang.REPORT_6}}</div>
    </div>

    <div id="invalid_translation" class="checkbox">
        <div class="icon-wrapper">
            <div class="icon"></div>
        </div>
        <div class="label green-font-dark-color">{{=it.lang.REPORT_7}}</div>
    </div>
</div>

<div id="send-footer">
    {{=it.lang.SEND}}
</div>