{{ if(it.stats.learningStarted === 0) { }}

<div class="no-data">
    <div class="no-data-icon"></div>
    <div class="no-data-info"> {{=it.lang.LEARNING_NOT_STARTED}}</div>
</div>

{{ } else { }}
    <table>
        <tr>
            <td class="base-tile label">{{=it.lang.STARTED_TO_LEARN}}:</td>
            <td class="base-tile value">{{=it.stats.learningStarted}}</td>
        </tr>

        <tr class="separator"></tr>

        <tr>
            <td class="base-tile label">{{=it.lang.CURRENTLY_SETS_LEARN}}:</td>
            <td class="base-tile value">{{=it.stats.numberOfSets}}</td>
            <td class="base-tile label">{{if(it.stats.numberOfSets === 1){}} {{=it.lang.SET_2}}  {{ } else { }} {{=it.lang.SETS}} {{ } }}</td>
        </tr>
        <tr>
            <td class="base-tile label">{{if(it.stats.numberOfSets === 1){}} {{=it.lang.WHICH_CONTAINS_1}} {{ } else { }} {{=it.lang.WHICH_CONTAINS}}{{ } }}:</td>
            <td class="base-tile value">{{=it.stats.totalExpressionsNumber}}</td>
            <td class="base-tile label">{{=it.lang.EXPRESSIONS}}</td>
        </tr>

        <tr class="separator"></tr>

        <tr>
            <td class="base-tile label">{{=it.lang.DISPLAYED_FOR_NOW}}:</td>
            <td class="base-tile value">{{=it.stats.displayedTotal}}</td>
            <td class="base-tile label">{{=it.lang.EXPRESSIONS}}</td>
        </tr>
        <tr>
            <td class="base-tile label">{{=it.lang.DAILY_AVERAGE_DISPLAY}}:</td>
            <td class="base-tile value">{{=it.stats.dailyDisplay}}</td>
            <td class="base-tile label">{{=it.lang.EXPRESSIONS}}</td>
        </tr>

        <tr class="separator"></tr>

        <tr>
            <td class="base-tile label">{{=it.lang.LEARNED_FOR_NOW}}:</td>
            <td class="base-tile value">{{=it.stats.learnedTotal}}</td>
            <td class="base-tile label">{{=it.lang.EXPRESSIONS}}</td>
        </tr>
        <tr>
            <td class="base-tile label">{{=it.lang.DAILY_AVERAGE_LEARN}}:</td>
            <td class="base-tile value">{{=it.stats.dailyLearn}}</td>
            <td class="base-tile label">{{=it.lang.EXPRESSIONS}}</td>
        </tr>
    </table>
{{ } }}