<div class="global-popup-dim"></div>
<div class="global-popup confirm-popup">
    <div class="header">
        {{ if(it.header) { }}
        <div class="header-message">{{=it.header}}</div>
        {{ } }}
    </div>
    {{ if(it.message) { }}
    <div class="popup-content base-font-dark-color">
        {{=it.message}}
    </div>
    {{ } }}

    <div class="footer">
        <div class="base-tile tile-button button-ok base-font-dark-color">{{=it.yesLabel}}</div>
        <div class="base-tile tile-button button-cancel base-font-dark-color">{{=it.noLabel}}</div>
    </div>
</div>
