<div class="global-popup-dim"></div>
<div class="global-popup info-popup">
    <div class="header">
        <div class="image"></div>
        {{ if(it.templateData.headerMessage) { }}
        <div class="header-message" style="font-size:{{=it.headerFontSize}}px;">{{=it.templateData.headerMessage}}</div>
        {{ } }}
    </div>
    {{ if(it.templateData.contentMessage) { }}
    <div class="popup-content base-font-dark-color">
        {{=it.templateData.contentMessage}}
    </div>
    {{ } }}

    <div class="footer">
        <div class="base-tile tile-button button-ok base-font-dark-color">OK</div>
    </div>
</div>
