<div class="global-popup-dim darker"></div>
        
<div id="input-wrapper">
    <table>
        <tr>
            <td id="input-title">input title</td>
        </tr>

        <tr>
            <td class="left">
                <input type="text"/>
            </td>
            <td id="button-ok">
                <div>OK</div>
            </td>
        </tr>
    </table>

</div>