{{ if(it.links.length && it.paginate) { }}
    <div class="pages">

        {{ if(it.currentPage > 1) {}}
            <span class="previous-page base-tile">{{=it.lang.PREV}}</span>
        {{ } else { }}
            <span class="previous-page base-tile disabled">{{=it.lang.PREV}}</span>
        {{ } }}

        {{ it.links.forEach( function (linkValue) { }}
            {{ if(it.currentPage === linkValue) { }}
            <span data-page="{{=linkValue}}" class="page-link current-page base-tile">{{=linkValue}}</span>
            {{ } else { }}
            <span data-page="{{=linkValue}}" class="page-link base-tile">{{=linkValue}}</span>
            {{ } }}
        {{ }); }}

        {{ if(it.currentPage < it.numberOfPages) {}}
            <span class="next-page base-tile">{{=it.lang.NEXT}}</span>
        {{ } else { }}
            <span class="next-page disabled base-tile">{{=it.lang.NEXT}}</span>
        {{ } }}

    </div>
{{ } }}