<div class="global-popup-dim"></div>

<div id="sorter-popup-wrapper" class="global-popup">
    <div id="sorting">
        <div id="sort-by-container">
            <div class="header">
                <div class="header-message">{{=it.lang.SORT}}</div>
            </div>

            <ul class="select-input-list">
                <li id="sorter-sort-by">
                    <div class="left">
                        <div class="setting-name">{{=it.lang.SORT_BY}}:</div>
                        <div class="setting-value">{{=it.lang.MARK_VALUE}}</div>
                    </div>
                    <div class="right">
                        <div class="picker"></div>
                    </div>
                </li>

                <li id="sorter-sort-direction">
                    <div class="left">
                        <div class="setting-name">{{=it.lang.SORT_DIRECTION}}</div>
                        <div class="setting-value">{{=it.lang.DESCENDING}}</div>
                    </div>
                    <div class="right">
                        <div class="picker"></div>
                    </div>
                </li>
            </ul>

        </div>

        <div id="filter-container">
            <div class="header">
                <div class="header-message">{{=it.lang.FILTER}}</div>
            </div>

            <ul class="select-input-list">
                <li id="sorter-filter-by">
                    <div class="left">
                        <div class="setting-name">{{=it.lang.FIELD}}</div>
                        <div class="setting-value"></div>
                    </div>
                    <div class="right">
                        <div class="picker"></div>
                    </div>
                </li>

                <li id="sorter-filter-value" notap="true">
                    <div class="left">
                        <div class="setting-name">{{=it.lang.VALUE}}</div>
                        <div class="setting-value"></div>
                    </div>
                    <div class="right">
                        <div class="picker"></div>
                    </div>
                </li>

                <li id="reset-to-default-action" class="sort-action-button">
                    <div class="wrapper">
                        <div class="label">{{=it.lang.RESET_TO_DEFAULTS}}</div>
                        <div class="icon"></div>
                    </div>
                </li>

                <li id="search-action" class="sort-action-button">
                    <div class="wrapper">
                        <div class="label">{{=it.lang.SEARCH}}</div>
                        <div class="icon"></div>
                    </div>
                </li>


            </ul>

        </div>
    </div>
</div>