{{ if(it.collection.length) { }}
    <ul id="main-list" class="words-groups-list">
        {{ for(var i = 0; i < it.collection.length; i++) { }}
            <li class="words-group base-tile"  data-id="{{=it.collection[i].id}}">
                <div class="left-container base-green-dark-bg">
                    {{=(i + 1)}}
                </div>

                <div class="group-info">
                    <div class="group-header">
                        <span class="name base-font-color">
                            <!--<span class="dot"></span>-->
                            {{=it.collection[i].name}}</span>
                    </div>

                    <table class="base-font-light-color">
                        <tr class="number-of-expressions description-item">
                            <td class="text">{{=it.lang.EXPRESSIONS}}:</td>
                            <td class="base-font-color text-value">{{=it.collection[i].length}}</td>
                        </tr>
                        <tr class="last-learned description-item">
                            <td class="text">{{=it.lang.LAST_SEEN}}:</td>
                            <td class="base-font-color text-value">{{=it.collection[i].last_time_learn}}</td>
                        </tr>
                        <tr class="progress-wrapper description-item">
                            <td class="text">{{=it.lang.PROGRESS}}:</td>
                            <td class="text-value">
                                <span class="bar">
                                    <span class="progress-value text-value" style="width:{{=it.collection[i].progress}}%"></span>
                                </span>
                                <span class="measure base-font-color text-value">{{=it.collection[i].progress}}%</span>
                            </td>
                        </tr>
                    </table>

                </div>

                <div class="group-meta-data">
                    <div class="group-lang-data">
                        <div class="flag-{{=it.collection[i].origin_lang}}"></div>
                        <div class="arrow"></div>
                        <div class="flag-{{=it.collection[i].translation_lang}}"></div>
                    </div>
                    <div class="group-level-data">
                        <div class="label">{{=it.lang.LEVEL}}:</div>
                        <div class="level-wrapper">
                            {{ for(var j = 0; j < it.collection[i].level; j++) { }}
                            <span class="level-icon"></span>
                            {{ } }}
                        </div>
                    </div>
                </div>



                <div class="group-buttons" data-id="{{=it.collection[i].id}}">
                    <div class="options button base-green-light-bg">
                        <span class="icon"></span>{{=it.lang.MORE}}
                    </div>
                    <!--<div class="learn button base-green-light-bg">-->
                        <!--<span class="icon"></span>nauka-->
                    <!--</div>-->
                </div>
            </li>
        {{ } }}
    </ul>
{{ } else { }}
    <div id="no-sets-selected" class="base-font-color base-tile">
        <div class="header">
            {{=it.lang.NO_SETS_1}}
        </div>
            <div class="inner-wrapper">
                {{=it.lang.NO_SETS_2}}:
                <ul>
                    <li>
                        {{=it.lang.NO_SETS_3}}
                    <span class="green-font-dark-color">
                        {{=it.lang.NO_SETS_4}}
                    </span>,
                        {{=it.lang.NO_SETS_5}}
                    </li>
                    <li>
                        {{=it.lang.NO_SETS_6}}
                    <span class="green-font-dark-color bold">
                        {{=it.lang.MY_FICHES_COM}}
                    </span>
                        {{=it.lang.NO_SETS_8}}
                    <span class="green-font-dark-color">
                        {{=it.lang.NO_SETS_9}}
                    </span>
                        {{=it.lang.NO_SETS_10}}
                    <span class="green-font-dark-color">
                        {{=it.lang.NO_SETS_11}}
                    </span>
                        {{=it.lang.NO_SETS_12}}

                    </li>
                </ul>
        </div>

        <div class="remind">
            <div class="header">{{=it.lang.NO_SETS_13 }}!</div>
            <div class="text">
                {{=it.lang.NO_SETS_14}} <span class="green-font-dark-color">{{=it.lang.MY_FICHES_COM}}</span> {{=it.lang.NO_SETS_15}}
            </div>
            <div class="sync-icon"></div>
            <div class="text">{{=it.lang.NO_SETS_16}}</div>
        </div>
    </div>
{{ } }}