<div id="login-content" class="base-form base-font-dark-color">

    <div id="username-input-wrapper" class="input-wrapper">
        <input id="username" type="text" placeholder="{{=it.lang.USERNAME}}"/>
    </div>

    <div id="email-input-wrapper" class="input-wrapper">
        <input id="email" type="text" placeholder="{{=it.lang.EMAIL}}"/>
    </div>

    <div id="password-input-wrapper" class="input-wrapper">
        <input id="password" type="password" placeholder="{{=it.lang.PASSWORD}}"/>
    </div>

    <div id="password-repeat-input-wrapper" class="input-wrapper">
        <input id="password-repeat" type="password" placeholder="{{=it.lang.REPEAT_PASSWORD}}"/>
    </div>

    <div id="native-lang-input-wrapper" class="input-wrapper">
        <div class="input-like"  id="native-lang-input" data-value="">{{=it.lang.NATIVE_LANG_1}}</div>
    </div>

    <div id="learning-lang-input-wrapper" class="input-wrapper">
        <div class="input-like" id="learning-lang-input"  data-value="">{{=it.lang.LEARNING_LANG_1}}</div>
    </div>

    <div id="error-message-wrapper">
        <div id="message">

        </div>
    </div>
</div>
