<div class="icon-wrapper">

    <div class="icon"></div>
    <div class="number-of-points">
        <span class="text">
            {{=it.learnPoints}}
        </span>
        <div class="refresh-info">({{=it.lang.TOUCH_IMAGE}})</div>
    </div>

    <div class="learn-points-description base-tile">
        {{=it.lang.YOU_HAVE_RIGHT_NOW}} <br/><span class="learn-points-value">{{=it.learnPoints}}</span> <br/>{{=it.lang.LEARN_POINTS}}.<br/>
        {{=it.lang.TO_GET_MORE}} <div class="green-font-dark-color">{{=it.lang.MY_FICHES_COM}}</div>
    </div>
</div>