<div class="show-menu">
    <div class="left-arrow-icon"></div>
</div>
<div id="custom-header-area"></div>
<div class="floating-menu-container">
    <ul class="floating-menu-list base-green-dark-bg">
        <li class="button-back">
            <span class="logo-action-bar"></span>
            <span class="icon"></span>
        </li>
        <li class="username">
            <div class="wrapper">
                <span class="icon"></span>
                <span class="text">{{=it.username}}</span>
            </div>

        </li>

        <li id="current-sets" class="base-green-bg item-main">
            <span class="icon"></span>
            <span class="text">{{=it.lang.CURRENT_SETS}}</span>
        </li>
        <li id="search" class="base-green-bg item-search item-search">
            <span class="icon"></span>
            <span class="text">{{=it.lang.SEARCH_FOR_SETS}}</span>
        </li>
        <li id="user-stats" class="base-green-bg item-stats">
            <span class="icon"></span>
            <span class="text">{{=it.lang.STATS}}</span>
        </li>
        <li id="settings" class="base-green-bg item-settings">
            <span class="icon"></span>
            <span class="text">{{=it.lang.SETTINGS}}</span>
        </li>

        <li id="learn-points" class="base-green-bg item-learnPoints">
            <span class="icon"></span>
            <span class="text">{{=it.lang.LEARN_POINTS_1}}</span>
        </li>
        <li id="logout" class="base-green-bg">
            <span class="icon"></span>
            <span class="text">{{=it.lang.LOGOUT}}</span>
        </li>
    </ul>
    <div class="floating-menu-dim"></div>
</div>