<div class="group-name-container">

    <div class="group-name" style="top:{{=it.styles.top}}px; line-height:{{=it.styles.nameFontSize}}px; font-size:{{=it.styles.nameFontSize}}px">{{=it.name}}
        <div class="group-name-header" style="bottom:{{=it.styles.nameFontSize}}px;">{{=it.lang.SET}}:</div>
    </div>
</div>