<div id="option-login"  data-action="login" class="header-option action-button">
    <div class="header-text" {{ if(!it.showRegisterTab) { }}style="margin-top: 3px;"{{ } }}>{{=it.lang.LOGGING}}</div>
</div>

{{ if(it.showRegisterTab) { }}

<div class="divider-wrapper">
    |
</div>

<div id="option-register" data-action="register"  class="header-option action-button">
    <div class="header-text">{{=it.lang.REGISTERING}}</div>
</div>

<div class="toggler"></div>

{{ } }}