<table class="group-details">
    <tr>
        <td id="group-mark" colspan="4" class="base-font-light-color value">
            <div id="lp-cost-container">
                <span class="label">{{=it.model.lp_cost}}</span>
                <span class="icon"></span>
            </div>
            <div id="mark-container">
                {{ if(it.model.ff_recommend === "1" || it.model.ff_recommend === 1) { }}
                <div class="ff-recommendation infobox-parent">
                    <span class="icon"></span>
                    <span class="label">
                        <span class="base-font-color">{{=it.lang.MY_FICHES}}</span>
                        <span>{{=it.lang.FF_RECOMMENDATION}}</span>
                    </span>
                </div>
                {{ } else { }}
                    <span id="stars-container">
                        <span id="stars-background"></span>
                        <span id="stars-background-green" style="width: {{=(it.model.markValue * 100) / 5}}%"></span>
                        <span id="mark-data">
                            <span id="mark-value">{{=parseFloat(it.model.markValue).toFixed(1)}} </span>
                            <span id="mark-count">({{=it.model.markCounter}} {{=it.lang.RATES_NUMBER}})</span>
                        </span>
                    </span>
                {{ } }}
            </div>
        </td>
    </tr>

    <tr>
        <td class="base-font-light-color base-tile label">{{=it.lang.LEVEL}}:</td><td class="base-font-color base-tile value">{{=it.levels[it.model.level]}}</td>
        <td class="base-font-light-color base-tile label">{{=it.lang.AUTHOR}}:</td><td class="base-font-color base-tile value">{{=it.model.author}}</td>
    </tr>
    <tr>
        <td class="base-font-light-color base-tile label">{{=it.lang.DOWNLOADED}}:</td><td class="base-font-color base-tile value">{{=it.model.downloaded}}</td>
        <td class="base-font-light-color base-tile label">{{=it.lang.CATEGORY}}:</td><td class="base-font-color base-tile value">{{=it.lang.CATEGORIES[it.model.category]}}</td>
    </tr>
    <tr>
        <td class="base-font-light-color base-tile label">{{=it.lang.NUMBER_OF_EXPRESSIONS}}:</td><td class="base-font-color base-tile value">{{=it.model.length}}</td>
        <td class="base-font-light-color base-tile label">{{=it.lang.CREATED}}:</td><td class="base-font-color base-tile value">{{=it.model.created.split(" ")[0]}}</td>
    </tr>
</table>

{{ if(it.model.length === '0') { }}
<div class="no-data">
    <div class="no-data-icon"></div>
    <div class="no-data-info">{{=it.lang.EMPTY_SET}}</div>
</div>

{{ } else { }}
<div class="actions">
    <div class="actions-top">
        <div class="action {{ if(it.model.isUserLearning) {}}disabled{{ } }}" id="search-download">
        <div class="image-wrapper">
            <div class="button-image"></div>
        </div>
        <div class="text">{{=it.lang.DOWNLOAD}} </div>
    </div>
    <div class="action" id="search-browse">
        <div class="image-wrapper">
            <div class="button-image"></div>
        </div>
        <div class="text">{{=it.lang.BROWSE}}</div>
    </div>
</div>
<div class="actions-bottom">
    <div class="action {{ if(it.model.isUserOwner) {}}disabled{{ } }}" id="search-report">
        <div class="image-wrapper">
            <div class="button-image"></div>
        </div>
        <div class="text">{{=it.lang.REPORT}}</div>
    </div>
</div>
</div>
{{ } }}
