<div class="stars">
    <div id="mark-0" class="star" data-index="0"></div>
    <div id="mark-1" class="star" data-index="1"></div>
    <div id="mark-2" class="star" data-index="2"></div>
    <div id="mark-3" class="star" data-index="3"></div>
    <div id="mark-4" class="star" data-index="4"></div>
</div>

<div id="description">

</div>

<div id="send-footer">
    {{=it.lang.SEND}}
</div>