{{ if(it.collection.length < 1) { }}
    <div class="no-data">
        <div class="no-data-icon"></div>
        <div class="no-data-info">{{=it.lang.EMPTY_SET}}</div>
    </div>
{{  } else { }}
    <div class="browse-list-wrapper">
        {{ for(var i = 0; i < it.collection.length; i++) { }}
            <table class="browse-list">
                <tr class="">
                    <td class="word-index base-green-dark-bg " rowspan="3">{{=(i+1)}}</td>
                    <td class="word-origin base-tile"><span class="header">Q:</span> {{=it.collection[i].origin}}</td>
                </tr>
                <tr>
                    <td class="word-translated base-tile green-font-dark-color"><span class="header">A:</span> {{=it.collection[i].translated}}</td>
                </tr>
                <tr>
                    {{ if(it.collection[i].usage_example) { }}
                    <td class="usage-example base-tile green-font-dark-color"><span class="header">U:</span> {{=it.collection[i].usage_example}}</td>
                    {{ } }}
                </tr>
            </table>

        {{ } }}
    </div>
{{ } }}