.browse-list-wrapper {
    margin-top: 5px;
}

.browse-list {
    border-collapse: collapse;
    width: 98%;
    margin: 3px auto;
}

.browse .word-container {

}

.browse-list tr {

}

.browse-list .word-index {
    color: #fff;
    width: 25px;
    text-align: center;
    border-right: solid 1px #e0ece0;
    /* todo: wypieprzyć to tylko dla starych urządzeń */
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-box-shadow: 0 1px 0 0 #b0b0b0, -1px 0 1px 0 #b0b0b0;
    /*todo*/
}

.low-performance-device .browse-list .word-index {
    -webkit-border-top-left-radius: none;
    -webkit-border-bottom-left-radius: none;
    -webkit-box-shadow: none;
}

.browse-list td {

}

.browse-list .word-origin {
    /*background: rgb(56, 56, 56);*/
    color: #333333;
    padding-left: 3px;
}

.browse-list .word-translated {
    background: rgb(227, 227, 227);
    /*border-bottom: solid 1px rgb(74, 74, 74);*/
    padding-left: 3px;
}

.browse-list .usage-example {
    background: rgb(215, 215, 215);
    padding-left: 3px;
}

.browse-list-wrapper .browse-list .header {
    display: inline-block;
    color: black;
    font-size: 12px;
    line-height: 22px;

}