

/*
    action bar background
*/
.base-green-background {
    background: #1c9e1c;
}


/*
    items border na floating menu
*/
.green-darker-one {
    background: #188c18;

}

.green-darker-two {
    background: #157915;

}


.base-grey-background {
    background: #2C2C2C;
}