
* {

/*make transparent link selection, adjust last value opacity 0 to 1.0*/
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@font-face {
    font-family: 'BenchNine';
    src: url('../fonts/BenchNine-Regular.ttf');
}

html {
    height: 100%;
    width: 100%;
}

body {
    height:100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    /*background-attachment:fixed;*/
    margin:0;
    padding:0;
    font-family: BenchNine, sans-serif;
}

body.scroll-disabled {
    height: 100%;
    overflow: hidden;
}

body * {
    margin:0;
    padding:0;
}

.font-small-1 {
    color: #C8C8C8;
    text-shadow: 0 0 10px #000;
}

.font-light-white {
    color: #fff;
}

.text-align-center {
    text-align: center !important;
}

/*
******************* COMMON classes - determines NEW LAYOUT DESIGN ************************
*/
.base-bg {
    background: #c3c3c3;
}

.base-bg-dark {
    background: #A8A8A8;
}

.base-green-bg {
    background: #2aab3c;
}

.base-green-light-bg {
    background: #2eba41;
}

.base-green-dark-bg {
    background: rgb(15, 148, 33);
}

.tile-base-bg {

}

.base-tile {
    background: #e8e8e8;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 1px 0 1px 0 #b0b0b0, 0 1px 2px 0 #b0b0b0;
}

.bold {
    font-weight: bold;
}

.low-performance-device .base-tile {
    -webkit-box-shadow: none;
}

.base-font-color {
    color: #333333 !important;
}

.green-font-color {
    color: #2eba41 !important;
}

.green-font-dark-color {
    color: #005C0D !important;
}

.base-font-light-color {
    color: #656565 !important;
}

.base-font-dark-color {
    color: #242424 !important;
}

.sync-completed-popup-bold {
    color: blue;
    font-size: 23px;
}

/*
******************* ACTION BAR styles ************************
*/

.action-bar .group-name-container {
    position: absolute;
    right: 15px;
}

.action-bar .group-name {
    color: #fff;
    display: inline-block;
    position: relative;
}

.action-bar .group-name-header {
    position: absolute;
    right: 0;
    font-size: 15px;
    line-height: 15px;
    padding-top: 5px;
    color: #0fff0a;
}

.action-bar-placeholder {
    position: relative;
    width: 100%;
    height: 55px;
}

.action-bar-wrapper.hidden .action-bar-placeholder{
    display: none;
}

.action-bar {
    position: fixed;
    -webkit-backface-visibility: hidden;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    color: #C8C8C8;
    height: 55px;
    box-shadow: 0 0 5px 0 black;
    -webkit-box-shadow: 0 0 5px 0 black;
    -webkit-transition: all 0.7s;
}

.action-bar-wrapper.hidden .action-bar{
    bottom: 55px;
    top: -55px;
    -webkit-transition: none;
}


.action-bar .header-text{
    font-size: 21px;
    color: #fff;
}

.divider-horizontal-dl {
    height: 2px;
    background: #232323;
    background: -webkit-linear-gradient(top, #000000 0%,#4B4B4B 100%);
}

.action-bar #sync {
    float: right;
}

.action-bar #sync-icon {
    width: 25px;
    height: 25px;
    margin: 14px;
    float: right;
    background-image: url('../img/sync_icon_1.png');
    background-size: 25px 25px;
    pointer-events: none;

}

.action-bar #sync.tapped #sync-icon {
    -webkit-transition: all 0.7s;
    -webkit-transform: rotate(360deg);
}

/* FLOATING MENU styles */
.action-bar .floating-menu-container  .floating-menu-list .button-back {
    background: rgb(15, 142, 32);
}

.action-bar .floating-menu-container  .floating-menu-list .logo-action-bar {
    width: 80px;
    height: 43px;
    background-size: 80px 43px;
    background-image: url('../img/logo_glow.png');
    float: left;
    position: relative;
    top: 10px;
    left: 10px;
}

.action-bar .floating-menu-container  .floating-menu-list .username {
    margin-top: 20px;
    line-height: 45px;
    height: 45px;
}

.action-bar .floating-menu-container  .floating-menu-list .username .wrapper {
    text-align: right;
}

.action-bar .floating-menu-container  .floating-menu-list .username.tapped {
    background: none;
}

.action-bar .floating-menu-container  .floating-menu-list .username .icon{
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-image: url('../img/user.png');
    margin-right: 5px;
    margin-left: 5px;
    float: none;
}

.action-bar .floating-menu-container  .floating-menu-list .username .text{
    font-size: 15px;
    max-width: 140px;
    padding: 0;
    padding-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 20px;
}

.action-bar .floating-menu-container  .floating-menu-list #current-sets {
    margin-bottom: 10px;
}

.action-bar .floating-menu-container  .floating-menu-list #logout {
    margin-top: 10px;
}

.action-bar .floating-menu-container  .floating-menu-list .icon {
    background-size: 25px 25px;
}

.action-bar .floating-menu-container  .floating-menu-list #current-sets .icon{
    background-image: url('../img/current_sets.png');
}

.action-bar .floating-menu-container  .floating-menu-list #current-sets.active .icon{
    background-image: url('../img/current_sets_active.png');
}


.action-bar .floating-menu-container  .floating-menu-list #search .icon {
    background-image: url('../img/search.png');
}

.action-bar .floating-menu-container  .floating-menu-list #search.active .icon {
    background-image: url('../img/search_active.png');
}

.action-bar .floating-menu-container  .floating-menu-list #user-stats .icon{
    background-image: url('../img/stats.png');
}

.action-bar .floating-menu-container  .floating-menu-list #user-stats.active .icon{
    background-image: url('../img/stats_active.png');
}

.action-bar .floating-menu-container  .floating-menu-list #learn-points .icon{
    background-image: url('../img/learn_points.png');
}

.action-bar .floating-menu-container  .floating-menu-list #learn-points.active .icon{
    background-image: url('../img/learn_points_active.png');
}

.action-bar .floating-menu-container  .floating-menu-list #settings .icon {
    background-image: url('../img/settings.png');
}

.action-bar .floating-menu-container  .floating-menu-list #settings.active .icon {
    background-image: url('../img/settings_active.png');
}

.action-bar .floating-menu-container  .floating-menu-list #logout .icon{
    background-image: url('../img/logout.png');
}

.login .action-bar .show-menu {
    display: none;
}

/*
******************* FORM INPUT styles ************************
*/

.base-form input,
.base-form select,
.input-like {
    width: 90%;
    height: 20px;
    line-height: 20px;
    padding: 10px;
    display: inline-block;
    font-size: 18px;
    font-family: BenchNine, sans-serif;
    background: #A5A5A5;
    border: solid 1px rgb(161, 161, 161);
    /*-moz-box-shadow: inset 0px 0px 0px 6px #3f3f3f;*/
    /* -webkit-box-shadow: inset 0px 0px 0px 6px #3f3f3f; */
    /* box-shadow: inset 0px 0px 5px 3px #3f3f3f; */
    border-radius: 3px;
}

.base-form .invalid,
.base-form .invalid {
    margin-left: -2px !important;
    border: solid 4px rgb(194, 29, 29) !important;
}

::-webkit-input-placeholder {
    color: #d5d5d5;
    font-family: BenchNine, sans-serif;
}

/*
******************* FOR FOOTER styles ************************
*/
#content {
    min-height: 100%;
    height:auto !important; /* modern Browser */
    height:100%; /* IE */
    /*padding-bottom: 20px;*/
}

.common-footer {
    height: 50px;
    display: none;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.report #send-footer.tapped,
#footer-button-send.tapped {
    background: rgb(49, 199, 70);
}

.login .common-footer {
    display: block;
}

.login-page {
    /* equal to footer height */
    margin-bottom: -50px;
}

.login-page:after {
    content: "";
    display: block;
    height: 50px;
}

/*
*******************  BUTTON   styles ************************
*/

.tile-button {
    background: #fff;
    font-size: 17px;
    padding: 8px 0;
}

.tile-button.tapped {
    background: #d4d4d4;
}

/*
*******************  POPUP   styles ************************
*/

.global-popup-dim {
    position: fixed;
    top: -1%;
    left: -1%;
    width: 110%;
    height: 110%;
    background: black;
    opacity: 0.7;
    z-index: 10;
}

.global-popup-dim.darker {
    opacity: 0.9;
}

.global-popup {
    position: absolute;
    min-width: 250px;
    max-width: 270px;
    background: #FFFFFF;
    /*-webkit-box-shadow: 0px 0px 25px 2px #000000;*/
    box-shadow: 0 0 25px 2px #000000;
    z-index: 10;
}

.global-popup .header {
    position: relative;
}

.global-popup .header .header-message {
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background: #2aab3c;
    color: #fff;
    font-size: 24px;
}

.info-popup-container.error .header-message {
    background: #AB2101;
}

.global-popup .popup-content {
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.global-popup .footer {
    width: 100%;
    position: relative;
    padding: 5px 0;
    height: 41px;
    background: rgb(229, 229, 229);
}

.info-popup .button-ok {
    width: 70px;
    text-align: center;
    margin: 0 auto;
}

.confirm-popup .button-ok {
    position: absolute;
    left: 5%;
    width: 40%;
    text-align: center;
}

.confirm-popup .button-cancel {
    position: absolute;
    right: 5%;
    display: inline-block;
    width: 40%;
    text-align: center;
}


/*
*******************  FLOATING MENU styles ************************
*/


.action-bar .show-menu {
    float: left;
}

.action-bar .show-menu.tapped {
    background: rgb(49, 199, 70);
}

.action-bar .left-arrow-icon {
    width: 14px;
    height: 25px;
    margin: 14px;
    background-size: 14px 25px;
    background-image: url('../img/main_left_arrow.png');
    pinter-events: none;
}

.floating-menu-container .floating-menu-dim,
.floating-menu-container  .floating-menu-list {
    position: fixed;
    top: 0;
    left: 0;
}

.floating-menu-container .floating-menu-dim {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 1;
    display: none;
}

.floating-menu-container.active .floating-menu-dim {
    display: block;
}


.floating-menu-container  .floating-menu-list {
    width: 200px;
    transform: translate(-210px);
    -webkit-transform: translate(-210px);
    list-style-type: none;
    display: inline-block;
    z-index: 4;
    height: 100%;
    -webkit-transition: all 0.2s;
}

.low-performance-device .floating-menu-container  .floating-menu-list {
    -webkit-transition: none;
}

.floating-menu-container.active .floating-menu-list {
    transform: translate(0px);
    -webkit-transform: translate(0px);
    box-shadow: 0 0 5px 2px black;
    -webkit-transition: all 0.4s;
    -webkit-box-shadow: 0 0 15px 0 black;
    /*-webkit-transform: translateZ(0);*/
    /*transform: translateZ(0);*/
    /* Other transform properties here */
}



.floating-menu-container  .floating-menu-list li {
    display: block;
    height: 51px;
    line-height: 51px;
    color: #fff;
    margin-bottom: 1px;
    position: relative;
}

.floating-menu-container  .floating-menu-list li.active {
    background: #10761E;
    border-top: solid 1px rgb(15, 108, 28);
    border-bottom: solid 1px rgb(15, 108, 28);
}

.floating-menu-container  .floating-menu-list li.tapped {
    background: #2eba41;
}

.floating-menu-container  .floating-menu-list .text {
    display: inline-block;
    font-size: 21px;
    padding-right: 20px;
    pointer-events: none;
}

.floating-menu-container  .floating-menu-list .icon {
    display: inline-block;
    margin: 13px 15px 0 15px;
    width: 25px;
    height: 25px;
    position: relative;
    float: left;
    pointer-events: none;
}

.floating-menu-container  .floating-menu-list .button-back {
    height: 55px;
    background: none;
}

.floating-menu-container  .floating-menu-list .button-back .icon {
    height: 25px;
    width: 14px;
    top: 14px;
    margin: 0 20px;
    float: right;
    background-size: 14px 25px;
    background-image: url('../img/main_right_arrow.png');
    -webkit-transition: all 0.1s;
}

.floating-menu-container .floating-menu-list .button-back.pre-hide .icon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*
*******************  NO DATA styles ************************
*/

.no-data .no-data-icon {
    width: 100px;
    height: 100px;
    margin: 60px auto 25px auto;
    background-size: 100px 100px;
    background-image: url('../img/group_button_empty_set.png');
}

.no-data .no-data-info {
    color: #333333 !important;
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    padding: 0 80px;
}

/*
*******************  SELECT LIST styles ************************
*/

.select-list-content {
    position: absolute;
    top: 5%;
    width: 90%;
    max-height: 90%;
    overflow: hidden;
    z-index: 15;
    -webkit-box-shadow: 0 0 25px 2px #000000;
    -ms-box-shadow: 0 0 25px 2px #000000;
    box-shadow: 0 0 25px 2px #000000;
}

.select-list .select-list-title {
    position: relative;
    z-index: 20;
    height: 50px;
    font-size: 22px;
    color: #fff;
    line-height: 50px;
    text-indent: 10px;
}

.select-list .list-wrapper {
    position: relative;
}


.select-list .list {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    list-style-type: none;
}

.select-list .list li {
    font-size: 19px;
    color: black;
    height: 50px;
    line-height: 50px;
    border-bottom: solid 1px rgb(195, 195, 195);
    text-indent: 10px;
    position: relative;
}

.select-list .list li.tapped {
    background: #f6f6f6;
}

.select-list .list .disabled,
.select-list .list .disabled.tapped {
    background: rgb(205, 205, 205);
    color: grey;
}

/* line 1761, ../scss/all.scss */
.select-list .label {
    display: inline-block;
    min-width: 270px;
}
/* line 1765, ../scss/all.scss */
.select-list .lang-icon {
    width: 20px;
    height: 15px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 16px;
    border: solid 1px #D8D7D7;
    background-size: 20px 15px;
}
/* line 1773, ../scss/all.scss */
.select-list .disabled .lang-icon {
    border: solid 1px #CDCDCD;
    opacity: 0.7;
}
/* line 1778, ../scss/all.scss */
.select-list .bel {
    background-image: url('../img/flags_40x30/bel.png')
}
/* line 1781, ../scss/all.scss */
.select-list .bul {
    background-image: url('../img/flags_40x30/bul.png')
}
/* line 1784, ../scss/all.scss */
.select-list .chi {
    background-image: url('../img/flags_40x30/chi.png')
}
/* line 1787, ../scss/all.scss */
.select-list .hrv {
    background-image: url('../img/flags_40x30/hrv.png')
}
/* line 1790, ../scss/all.scss */
.select-list .cze {
    background-image: url('../img/flags_40x30/cze.png')
}
/* line 1793, ../scss/all.scss */
.select-list .dan {
    background-image: url('../img/flags_40x30/dan.png')
}
/* line 1796, ../scss/all.scss */
.select-list .dut {
    background-image: url('../img/flags_40x30/dut.png')
}
/* line 1799, ../scss/all.scss */
.select-list .eng {
    background-image: url('../img/flags_40x30/eng.png')
}
/* line 1802, ../scss/all.scss */
.select-list .est {
    background-image: url('../img/flags_40x30/est.png')
}
/* line 1805, ../scss/all.scss */
.select-list .fre {
    background-image: url('../img/flags_40x30/fre.png')
}
/* line 1808, ../scss/all.scss */
.select-list .ger {
    background-image: url('../img/flags_40x30/ger.png')
}
/* line 1811, ../scss/all.scss */
.select-list .gre {
    background-image: url('../img/flags_40x30/gre.png')
}
/* line 1814, ../scss/all.scss */
.select-list .hun {
    background-image: url('../img/flags_40x30/hun.png')
}
/* line 1817, ../scss/all.scss */
.select-list .ind {
    background-image: url('../img/flags_40x30/ind.png')
}
/* line 1820, ../scss/all.scss */
.select-list .gle {
    background-image: url('../img/flags_40x30/gle.png')
}
/* line 1823, ../scss/all.scss */
.select-list .ice {
    background-image: url('../img/flags_40x30/ice.png')
}
/* line 1826, ../scss/all.scss */
.select-list .ita {
    background-image: url('../img/flags_40x30/ita.png')
}
/* line 1829, ../scss/all.scss */
.select-list .jpn {
    background-image: url('../img/flags_40x30/jpn.png')
}
/* line 1832, ../scss/all.scss */
.select-list .kor {
    background-image: url('../img/flags_40x30/kor.png')
}
/* line 1835, ../scss/all.scss */
.select-list .lit {
    background-image: url('../img/flags_40x30/lit.png')
}
/* line 1838, ../scss/all.scss */
.select-list .lav {
    background-image: url('../img/flags_40x30/lav.png')
}
/* line 1841, ../scss/all.scss */
.select-list .mac {
    background-image: url('../img/flags_40x30/mac.png')
}
/* line 1844, ../scss/all.scss */
.select-list .nor {
    background-image: url('../img/flags_40x30/nor.png')
}
/* line 1847, ../scss/all.scss */
.select-list .pol {
    background-image: url('../img/flags_40x30/pol.png')
}
/* line 1850, ../scss/all.scss */
.select-list .por {
    background-image: url('../img/flags_40x30/por.png')
}
/* line 1853, ../scss/all.scss */
.select-list .rum {
    background-image: url('../img/flags_40x30/rum.png')
}
/* line 1856, ../scss/all.scss */
.select-list .rus {
    background-image: url('../img/flags_40x30/rus.png')
}
/* line 1859, ../scss/all.scss */
.select-list .srp {
    background-image: url('../img/flags_40x30/srp.png')
}
/* line 1862, ../scss/all.scss */
.select-list .slo {
    background-image: url('../img/flags_40x30/slo.png')
}
/* line 1865, ../scss/all.scss */
.select-list .slv {
    background-image: url('../img/flags_40x30/slv.png')
}
/* line 1868, ../scss/all.scss */
.select-list .spa {
    background-image: url('../img/flags_40x30/spa.png')
}
/* line 1871, ../scss/all.scss */
.select-list .swe {
    background-image: url('../img/flags_40x30/swe.png')
}
/* line 1874, ../scss/all.scss */
.select-list .tur {
    background-image: url('../img/flags_40x30/tur.png')
}
/* line 1877, ../scss/all.scss */
.select-list .ukr {
    background-image: url('../img/flags_40x30/ukr.png')
}
/* line 1880, ../scss/all.scss */
.select-list .vie {
    background-image: url('../img/flags_40x30/vie.png')
}

/*
*******************  SELECT INPUT LIST styles ************************
*/

.select-input-list-wrapper {
    margin: 15px 0;

}

.select-input-list {
    list-style-type: none;
    margin: 0;
}

.select-input-list li:last-of-type {
    border-bottom: none;
    clear: both;
}

.select-input-list li {
    border-bottom: solid 1px #bdbdbd;
    height: 54px;
    background: #e8e8e8;
    padding-top: 3px;
}

.select-input-list li.tapped {
    background: #f6f6f6;
}

.select-input-list li .left {
    padding-left: 15px;
    display: inline-block;
}

.select-input-list .left .setting-name{
    font-size: 20px;
    margin-bottom: 3px;
}

.select-input-list .left .setting-value{
    font-size: 17px;
    color: green;
}

.select-input-list li .right {
    float: right;
    margin: 10px 15px 12px 0;
}

.select-input-list li .right .picker{
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    background-image: url('../img/picker.png');
}

.select-input-list li .right .picker.tapped {
    background-image: url('../img/picker_focus.png');
}



#paginator-container{
    width: 100%;
    text-align: center;
    padding-bottom: 7px;
}

.paginator .pages span {
    display: inline-block;
    width: 42px;
    height: 30px;
    margin: 0 1px;
    line-height: 30px;
}

.paginator .pages span.tapped{
    background: #D3D3D3;;
}

.paginator .pages .current-page {
    background: rgb(252, 252, 252);
}

.paginator .pages .current-page.tapped {
    background: rgb(252, 252, 252);
}

.paginator .pages .disabled {
    display: none;
}

/*
*******************  SORTER styles ************************
*/
#sorter {
    position: absolute;
    z-index: 5;
    top: 0;
}

#sorter #sorter-popup-wrapper {
    position: absolute;
}

#sorter #sorter-popup-wrapper .header{
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    background: #c3c3c3;
}

#sorter #sorter-popup-wrapper .sort-action-button {
    text-align: center;
}

#sorter #sorter-popup-wrapper .sort-action-button .wrapper {
    display: inline-block;
}

#sorter #sorter-popup-wrapper .sort-action-button .wrapper .label {
    margin-right: 5px;
}

#sorter #sorter-popup-wrapper .sort-action-button .wrapper .icon {
    width: 30px;
    height: 30px;
    position: relative;
    top: 10px;
    background-size: 30px 30px;
}

#sorter #sorter-popup-wrapper #sort-action {
    font-size: 18px;
}

#sorter #sorter-popup-wrapper #search-action .icon {
    background-image: url('../img/sorter-search.png');
}

#sorter #sorter-popup-wrapper #search-action .icon.tapped {
    background-image: url('../img/sorter-search_focus.png');
}

#sorter #sorter-popup-wrapper #reset-to-default-action .icon {
    background-image: url('../img/sorter-reset.png');
}

#sorter #sorter-popup-wrapper #search-action .icon.tapped {
    background-image: url('../img/sorter-reset_focus.png');
}

#sorter #sorter-popup-wrapper .sort-action-button .wrapper div {
    display: inline-block;
}

/*
*******************  SORTER styles ************************
*/

#sorting {
    box-shadow: 0 0 25px 2px #000000;
}

#input-component #input-wrapper {
    width: 90%;
    margin-left: 5%;

    position: absolute;
    top: 30px;
    z-index: 10;
}

#input-component #input-wrapper table {
    width: 100%;
}

#input-component #input-wrapper table td.left {
    width: 80%;
}

#input-component #input-wrapper table #button-ok div {
    background: #2aab3c;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    padding: 0 20px;
    margin-left: 10px;
    color: #fff;
    border-radius: 3px;
}

#input-component #input-wrapper table #button-ok div.tapped {
    background: #259735;
}

#input-component #input-wrapper #input-title {
    color: #fff;
}

#input-component #input-wrapper input {
    width: 100%;
    height: 20px;
    line-height: 20px;
    padding: 10px 0;
    text-indent: 10px;
    font-size: 18px;
    font-family: BenchNine, sans-serif;
    background: #A5A5A5;
    border: solid 1px rgb(161, 161, 161);
    /*-moz-box-shadow: inset 0px 0px 0px 6px #3f3f3f;*/
    /* -webkit-box-shadow: inset 0px 0px 0px 6px #3f3f3f; */
    /* box-shadow: inset 0px 0px 5px 3px #3f3f3f; */
    border-radius: 3px;
}

/*
*******************  LOADING styles ************************
*/

#loading-wrapper.page .global-popup-dim {
    z-index: 2 !important;
}

#loading-image {
    position: absolute;
    z-index: 10;
    /*background-size: 40px 40px;*/
    /*background-image: url('../img/loading.png');*/

    /*-moz-animation:myfirst 1s infinite linear; *//* Firefox */
    /*-webkit-animation:myfirst 1s infinite linear; *//* Safari and Chrome */
}

#loading-image .spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 auto 0 auto;
}

#loading-image .double-bounce1, .double-bounce2, .double-bounce3 {
    opacity: 0.8;
}

@-webkit-keyframes myfirst /* Firefox */
{
    0%   {-webkit-transform: rotate(0deg);;}
    100%   {-webkit-transform: rotate(360deg);}
}

/*
*******************  FLAGS ICONS in header styles ************************
*/
.learn .switch-lang .flag-, .group-meta-data {
    position: absolute;
    right: 60px;
    text-align: right;
}

.learn .switch-lang .flag-, .group-meta-data .group-lang-data div{
    height: 10px;
    width: 15px;
    display: inline-block;
    background-size: 15px 10px;
    border: solid 1px rgb(195, 195, 195);
}

.learn .switch-lang .flag-, .group-meta-data .group-lang-data .arrow {
    width: 10px;
    background-size: 10px 10px;
    background-image: url('../img/arrow.png');
    border: none;
}

.learn .switch-lang .flag-pol, .group-meta-data .flag-pol{
    background-image: url('../img/pol_20x30.jpg');
}

.learn .switch-lang .flag-eng, .group-meta-data .flag-eng{
    background-image: url('../img/eng_20x30.jpg');
}

.learn .switch-lang .flag-bel, .group-meta-data .flag-bel{
    background-image: url('../img/bel_20x30.jpg');
}
.learn .switch-lang .flag-bul, .group-meta-data .flag-bul{
    background-image: url('../img/bul_20x30.jpg');
}
.learn .switch-lang .flag-chi, .group-meta-data .flag-chi{
    background-image: url('../img/chi_20x30.jpg');
}
.learn .switch-lang .flag-hrv, .group-meta-data .flag-hrv{
    background-image: url('../img/hrv_20x30.jpg');
}
.learn .switch-lang .flag-cze, .group-meta-data .flag-cze{
    background-image: url('../img/cze_20x30.jpg');
}
.learn .switch-lang .flag-dan, .group-meta-data .flag-dan{
    background-image: url('../img/dan_20x30.jpg');
}
.learn .switch-lang .flag-dut, .group-meta-data .flag-dut{
    background-image: url('../img/dut_20x30.jpg');
}
.learn .switch-lang .flag-est, .group-meta-data .flag-est{
    background-image: url('../img/est_20x30.jpg');
}
.learn .switch-lang .flag-fre, .group-meta-data .flag-fre{
    background-image: url('../img/fre_20x30.jpg');
}
.learn .switch-lang .flag-ger, .group-meta-data .flag-ger{
    background-image: url('../img/ger_20x30.jpg');
}
.learn .switch-lang .flag-gre, .group-meta-data .flag-gre{
    background-image: url('../img/gre_20x30.jpg');
}
.learn .switch-lang .flag-hun, .group-meta-data .flag-hun{
    background-image: url('../img/hun_20x30.jpg');
}
.learn .switch-lang .flag-ind, .group-meta-data .flag-ind{
    background-image: url('../img/ind_20x30.jpg');
}
.learn .switch-lang .flag-gle, .group-meta-data .flag-gle{
    background-image: url('../img/gle_20x30.jpg');
}
.learn .switch-lang .flag-ice, .group-meta-data .flag-ice{
    background-image: url('../img/ice_20x30.jpg');
}
.learn .switch-lang .flag-ita, .group-meta-data .flag-ita{
    background-image: url('../img/ita_20x30.jpg');
}
.learn .switch-lang .flag-jpn, .group-meta-data .flag-jpn{
    background-image: url('../img/jpn_20x30.jpg');
}
.learn .switch-lang .flag-kor, .group-meta-data .flag-kor{
    background-image: url('../img/kor_20x30.jpg');
}
.learn .switch-lang .flag-lit, .group-meta-data .flag-lit{
    background-image: url('../img/lit_20x30.jpg');
}
.learn .switch-lang .flag-lav, .group-meta-data .flag-lav{
    background-image: url('../img/lav_20x30.jpg');
}
.learn .switch-lang .flag-mac, .group-meta-data .flag-mac{
    background-image: url('../img/mac_20x30.jpg');
}
.learn .switch-lang .flag-nor, .group-meta-data .flag-nor{
    background-image: url('../img/nor_20x30.jpg');
}
.learn .switch-lang .flag-por, .group-meta-data .flag-por{
    background-image: url('../img/por_20x30.jpg');
}
.learn .switch-lang .flag-rum, .group-meta-data .flag-rum{
    background-image: url('../img/rum_20x30.jpg');
}
.learn .switch-lang .flag-rus, .group-meta-data .flag-rus{
    background-image: url('../img/rus_20x30.jpg');
}
.learn .switch-lang .flag-srp, .group-meta-data .flag-srp{
    background-image: url('../img/srp_20x30.jpg');
}
.learn .switch-lang .flag-slo, .group-meta-data .flag-slo{
    background-image: url('../img/slo_20x30.jpg');
}
.learn .switch-lang .flag-slv, .group-meta-data .flag-slv{
    background-image: url('../img/slv_20x30.jpg');
}
.learn .switch-lang .flag-spa, .group-meta-data .flag-spa{
    background-image: url('../img/spa_20x30.jpg');
}
.learn .switch-lang .flag-swe, .group-meta-data .flag-swe{
    background-image: url('../img/swe_20x30.jpg');
}
.learn .switch-lang .flag-tur, .group-meta-data .flag-tur{
    background-image: url('../img/tur_20x30.jpg');
}
.learn .switch-lang .flag-ukr, .group-meta-data .flag-ukr{
    background-image: url('../img/ukr_20x30.jpg');
}
.learn .switch-lang .flag-vie, .group-meta-data .flag-vie{
    background-image: url('../img/vie_20x30.jpg');
}

.words-groups-list .words-group .level-info {
    /*position: absolute;*/
    /*right: 10px;*/
    /*top: 20px;*/
    font-size: 14px;
    position: relative;
    top: 2px;
}

.group-search-level-data {
    position: absolute;
    right: 3px;
    top: 20px;
}

.learn .switch-lang .flag-, .group-meta-data .label,
.group-search-level-data .label {
    display: inline-block;
    font-size: 12px;
}

.learn .switch-lang .flag-, .group-meta-data .level-wrapper,
.group-search-level-data .level-wrapper {
    width: 20px;
    text-align: left;
    display: inline-block;
}

.learn .switch-lang .flag-, .group-meta-data .level-icon,
.group-search-level-data .level-icon {
    display: block;
    width: 4px;
    height: 7px;
    border-radius: 2px;
    padding-top: 5px;
    background: #0F9421;
    float: left;
    margin-left: 2px;
    position: relative;
    top: 2px;
}

.banner {
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: grey;
    background: rgb(205, 205, 205);
}

.no-adverts .banner {
    display: none;
}


