.groupSearch #lp-cost-container {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}


.groupSearch #lp-cost-container .icon{
    width: 25px;
    height: 25px;
    position: relative;
    background-image: url('../img/learn_points_50.png');
    background-size: 25px 25px;
    display: inline-block;
    margin-left: 3px;
    top: 5px;
}

.groupSearch #lp-cost-container .label{
    display: inline-block;
    font-size: 20px;
    color: black;
}

.groupSearch #mark-container {
    height: 40px;
    position: relative;
    display: inline-block;
}

.groupSearch #group-mark {

}

.groupSearch .separator-row {
    height: 3px;
}

.groupSearch .actions .actions-bottom {
    text-align: center;
}

.groupSearch #stars-container {
    position: relative;
    left: -20px;
    display: inline-block;
    width: 140px;
    height: 40px;
    background-color: #D7D7D7;
    font-size: 17px;

}

.groupSearch #stars-container #mark-data {
    position: absolute;
    right: -75px;
    top: 2px;
    line-height: 40px;
}

.groupSearch #stars-container #mark-data #mark-value {
    color: black;
    font-size: 20px;
    position: relative;
    top: 1px;
}

.groupSearch #stars-container #mark-data #mark-count {
    font-size: 13px;
    color: black;
}

.groupSearch #stars-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: 140px 40px;
    background-image: url('../img/stars.png');
    z-index: 2;
}

.groupSearch #stars-background-green {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #fced50;
}

.groupSearch .actions #search-download .button-image {
    background-image: url('../img/searchGroup_download.png');
}

.groupSearch .actions #search-download .button-image.tapped {
    background-image: url('../img/searchGroup_download_focus.png');
}

.groupSearch .actions #search-download.disabled .button-image {
    background-image: url('../img/download_disable.png');
}

.groupSearch .actions #search-download.disabled .button-image.tapped {
    background-image: url('../img/download_disable.png');
}

.groupSearch .actions #search-browse .button-image{
    background-image: url('../img/button_group_browse.png')
}

.groupSearch .actions #search-browse .button-image.tapped{
    background-image: url('../img/group_browse_focus.png')
}

.groupSearch .actions #search-report .button-image{
    background-image: url('../img/group_button_report.png')
}

.groupSearch .actions #search-report .button-image.tapped{
    background-image: url('../img/group_button_report_focus.png')
}

.groupSearch .actions #search-report.disabled .button-image{
    background-image: url('../img/group_button_report_disabled.png')
}

.groupSearch .actions #search-report.disabled .button-image.tapped{
    background-image: url('../img/group_button_report_disabled.png')
}

.groupSearch .ff-recommendation .icon {
    display: inline-block;
    width: 18px;
    height: 30px;
    background-image: url('../img/icon_recommend_big.png');
    background-size: 18px 30px;
    margin-top: 5px;
    margin-right: 5px;
}

.groupSearch .ff-recommendation .label {
    display: inline-block;
    -webkit-text-shadow: 0 0 15px #ffffff;
    text-shadow: 0 0 15px #ffffff;
    position: relative;
    bottom: 7px;
    font-size: 19px;
    color: #de6912;
}
