.group-details {
    width: 99%;
    margin: 2px auto 0 auto;
}

.group-details tr td {
    line-height: 17px;
    padding: 0 3px;
    text-align: center;
}

.group-details tr td.label {
    color: rgb(137, 140, 138);
    /*text-align: center;*/
    /*padding-left: 15px;*/
    font-size: 12px;
    background: #d9d9d9;
}

.group-details tr td:nth-child(odd){

}

.group-details tr td:nth-child(even){
    color: #46b10b;
}

/*
*******************  ACTIONS styles ************************
*/

.actions {
    margin: 15px auto 0 auto;
    width: 97%;
}

.actions .actions-bottom {

}

.actions .actions-top,
.actions .actions-bottom {
    width: 100%;
    clear: both;
    position: relative;
}

@media only screen
and (min-height : 350px)
and (max-height : 460px)
{
    .actions .actions-top {
        bottom: 10px;
    }

    .actions .actions-bottom {
        bottom: 47px;
    }
}

@media only screen
and (min-height : 460px)
and (max-height : 520px)
{
    .actions .actions-bottom {
        bottom: 30px;
    }
}

@media only screen
and (min-height : 520px)
{
    .actions .actions-top,
    .actions .actions-bottom {
        height: 150px;
    }
}

.actions .action {
    width: 49%;
    display: inline-block;
    text-align: center;
    height: 160px;
}

.actions .action:nth-child(even) {
    float: right;
}

.actions .action .button-outer {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background: rgb(58, 128, 20);
    border-radius: 45px;
    padding: 5px;
}

.actions .action.disabled .button-outer {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background: rgb(34, 34, 34);

    border-radius: 45px;
    padding: 5px;
}

.actions .button-image {
    margin: 0 auto;
}

@media only screen
and (min-width : 320px)
and (max-width : 359px)
{
    .actions .button-image {
        width: 120px;
        height: 120px;
        margin: 0 auto;
        background-size: 120px 120px;
    }
}

@media only screen
and (min-width : 360px)
{
    .actions .button-image {
        width: 150px;
        height: 150px;
        margin: 0 auto;
        background-size: 150px 150px;
    }
}



.actions .action .text{
    font-size: 15px;
    position: relative;
    bottom: 40px;
    display: inline;
    padding: 0 10px;
    /* background: rgb(40, 199, 62); */
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #fff !important;
}

.actions .action.disabled .text{
    color: #2C2C2C;
}

.actions #learn .button-image {
    background-image: url('../img/button_group_learn.png');
}

.actions #learn .button-image.tapped {
    background-image: url('../img/group_learn_focus.png');
}

.actions #repeat-learn .button-image {
    background-image: url('../img/group_button_repeat_learn.png')
}

.actions #repeat-learn .button-image.tapped {
    background-image: url('../img/group_button_repeat_learn_focus.png')
}

.actions #browse .button-image{
    background-image: url('../img/button_group_browse.png')
}

.actions #browse .button-image.tapped{
    background-image: url('../img/group_browse_focus.png')
}

.actions #report .button-image{
    background-image: url('../img/group_button_report.png')
}

.actions #report.disabled .button-image{
    background-image: url('../img/group_button_report_disabled.png')
}

.actions #report.disabled .button-image.tapped{
    background-image: url('../img/group_button_report_disabled.png')
}

.actions #report .button-image.tapped{
    background-image: url('../img/group_button_report_focus.png')
}

.actions #mark .button-image {
    background-image: url('../img/button_group_mark.png')
}

.actions #mark .button-image.tapped {
    background-image: url('../img/button_group_mark_focus.png')
}

.actions #mark.disabled .button-image {
    background-image: url('../img/group_mark_disabled.png')
}

.group-page .group-sub-options {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 20px;
}

.group-page .group-sub-options .end-learning {
    position: relative;
    margin: 0 auto;
}

.group-page .group-sub-options .end-learning {

}

.group-page .group-sub-options .end-learning .image{
    width: 50px;
    height: 50px;
    background-image: url('../img/group_button_stop_learn.png');
    background-size: 50px 50px;
    margin: 0 auto 3px auto;
}

.group-page .group-sub-options .end-learning .image.tapped{
    background-image: url('../img/group_button_stop_learn_focused.png');
}

.group-page .group-sub-options .end-learning .text{
    text-align: center;
    line-height: 16px;
}
