.learnPoints #custom-header-area .group-name {
    font-size: 25px;
    top: 10px;
    float: right;

}

.learnPoints-page .icon {
    width: 75px;
    height: 75px;
    background-image: url('../img/learn_points_150.png');
    background-size: 75px 75px;
    margin: 40px auto 0 auto;
}

.learnPoints-page .number-of-points {
   margin: 0 auto;
   text-align: center;
    margin-top: 5px;
}

.learnPoints-page .number-of-points .text{
    font-size: 25px;
    padding: 2px 10px;
}

.learnPoints-page .refresh-info {
    font-size: 13px;
}

.learnPoints-page .learn-points-description {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 25px;
    margin-top: 30px;
}

.learnPoints-page .learn-points-description .learn-points-value {
    color: #8503ff;
    font-size: 18px;
}

