.learn #content{
    overflow: hidden;
}

.learn #progress {
    height: 25px;
    background: #3b9509;
    width: 0;
    margin: 1%;
    border-radius: 2px;
    color: white;
    background: -webkit-gradient(linear, 0% 100%, 0% 100%, from(#2aab3c), to(#30c244));
    background: linear-gradient(to right, #2aab3c 0%, #30c244 100%); /* W3C */
    background: -webkit-gradient(linear, 0%, from(#2aab3c), to(#30c244));
}

.learn #progress #counter {
    position: absolute;
    padding: 0 10px;
    line-height: 25px;
}

.learn .switch-lang {
    position: absolute;
    top: 4px;
    right: 5px;
    display: inline-block;
    padding: 3px 0;
    background-image: url('../img/switch-arrow.png');
    background-size: 53px 24px;
}

.learn .switch-lang .flag{
    width: 15px;
    height: 10px;
    background-size: 15px 10px;
    display: inline-block;
    border: solid 1px rgb(163, 163, 163);
}


.learn .switch-lang .flag-left{
    margin-right: 15px;
}

.learn #question {
    margin: 5px auto 0 auto;
    width: 97%;
    color: #000;
}

.learn #answer {
    display: none;
    margin: 5px auto 0 auto;
    width: 97%;
}

.learn .sup-header {
    position: absolute;
    padding: 4px;
    color: rgb(166, 166, 166);
    font-size: 14px;
}

/* answer visible */
.learn .answer-mode #answer {
    display: block;
}

.learn #usage-example {
    display: none;
    margin-top: 30px;
}

.learn #usage-example .sup-header{
    position: relative;
    color: rgb(111, 111, 111);
}

.learn #usage-example #usage-example-value {
    width: 90%;
    margin: 0 auto;
}

.learn .answer-mode #usage-example {
    display: block;
}

.learn #show-answer {
    position: absolute;
    height: 250px;
    width: 100%;
    padding-top: 50px;
}

.learn .answer-mode #show-answer {
    display: none;
    position: absolute;
    height: 500px;
    width: 100%;
    padding-top: 50px;
}
/**/

.learn #question,
.learn #answer {
    height: 110px;
    position: relative;
    overflow: hidden;
}

.learn #question #question-value,
.learn #answer #answer-value {
    height: 30%;
    width: 90%;
    text-align: center;
    font-size: 25px;
    margin: 0 auto;
    padding-top: 10%;
}

.learn #answer #answer-value {
}

.learn #show-answer .image {
    width: 150px;
    height: 86px;
    background-image: url('../img/eye.png');
    background-size: 150px 86px;
    margin: 20px auto 5px auto;
}

.learn #show-answer .text {
    color: #A8A8A8;
    font-size: 30px;
    text-align: center;
}

.learn #buttons-container {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

/*answer visible*/
.learn .answer-mode #buttons-container{
    bottom: 0;
}
/**/

.learn #buttons-container td{
    text-align: center;
}

.learn #buttons-container .button{
    display: inline-block;
    position: relative;
    transition: all 0.1s;
    bottom: -120px;
    -webkit-transition: all 0.2s;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

.learn #buttons-container .button .image {
    width: 90px;
    height: 90px;
    background-size: 90px 90px;
}


/*.learn #buttons-container .button .image{*/
    /*width: 90px;*/
    /*height: 90px;*/
    /*background-size: 90px 90px;*/
/*}*/

@media only screen
and (min-width : 320px)
and (max-width : 359px)
{
    .learn #buttons-container .button .image {
        width: 90px;
        height: 90px;
        background-size: 90px 90px;
    }
}

@media only screen
and (min-width : 360px)
{
    .learn #buttons-container .button{
        bottom: -110px;
    }

    .learn #buttons-container .button .image {
        width: 100px;
        height: 100px;
        background-size: 100px 100px;
    }
}

/* answer visible */
.learn .answer-mode #buttons-container .button{
    bottom: 0;
}

.learn #buttons-container #button-ok .image{
    background-image: url('../img/button_learn_ok_new.png');
}

.learn #buttons-container #button-ok .image.tapped{
    background-image: url('../img/button_learn_ok_new_focus.png');
}

.learn #buttons-container #button-not-sure .image{
    background-image: url('../img/button_learn_not_sure_new.png');
}

.learn #buttons-container #button-not-sure .image.tapped{
    background-image: url('../img/button_learn_not_sure_new_focus.png');
}

.learn #buttons-container #button-wrong .image{
    background-image: url('../img/button_learn_wrong_new.png');
}

.learn #buttons-container #button-wrong .image.tapped{
    background-image: url('../img/button_learn_wrong_new_focus.png');
}