.login-page {
    min-height: 100%;
    height:auto !important; /* modern Browser */
    height:100%; /* IE */
    /*padding-bottom: 20px;*/
}

.login-page .divider-horizontal-dl {
    width: 100%;
}

/*
******************* HEADER styles ************************
*/

.login .action-bar {

}

.login.action-bar .header-text{
    pointer-events: none;
}

.login .action-bar #custom-header-area > div {
    display: inline-block;
    line-height: 50px;
    margin-left: 10px;
}

.login .divider-wrapper {
    font-size: 30px;
    color: #fff;
    position: relative;
    top: 3px;
}

.login .toggler {
    position: absolute;
    width: 0;
    height: 0;
    bottom: 1px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 7px solid #fff;

    -webkit-transition: all 0.4s;
}

.lang-eng.login .toggler {
    left: 9px;
}

.lang-pol.login .toggler {
    left: 24px;
}

.action-bar #option-register .header-text{
    opacity: 0.6;
}

.register-mode .action-bar #option-register .header-text{
    opacity: 1.0;
}

.register-mode .action-bar #option-login .header-text{
    opacity: 0.6;
}

.lang-pol.register-mode .action-bar .toggler {
    left: 110px;
}

.lang-eng.register-mode .action-bar .toggler {
    left: 72px;
}



/*
******************* CONTENT styles ************************
*/

.login-page .base-form .input-wrapper {
    width: 90%;
    margin: 15px auto;
}
.login-page #email-input-wrapper,
.login-page #password-repeat-input-wrapper,
.login-page #native-lang-input-wrapper,
.login-page #learning-lang-input-wrapper {
    display: none;
}

.register-mode #email-input-wrapper,
.register-mode #password-repeat-input-wrapper,
.register-mode #native-lang-input-wrapper,
.register-mode #learning-lang-input-wrapper {
    display: block;
}

.login-page #login-content #error-message-wrapper {
    width: 90%;
    margin: 0 auto;
    display: none;
    margin-bottom: 20px;
}

.login-page #login-content #error-message-wrapper #message{
    width: 90%;
    padding: 0 10px;
    background: rgb(194, 29, 29);
    color: #f0e2dd;
    text-align: center;
}

.login-page .input-like {
    color: #d5d5d5;
}

.login-page #login-content .flag-icon {
    display: inline-block;
    width: 20px;
    height: 15px;
    margin-left: 20px;
    background-size: 20px 15px;
}

.login-page #login-content .flag-icon {
    display: inline-block;
    width: 20px;
    height: 15px;
    margin-left: 10px;
    border: solid 1px rgb(176, 176, 176);
    position: relative;
    top: 1px;
}


/* line 1778, ../scss/all.scss */
.login-page #login-content .bel {
    background-image: url('../img/flags_40x30/bel.png')
}
/* line 1781, ../scss/all.scss */
.login-page #login-content .bul {
    background-image: url('../img/flags_40x30/bul.png')
}
/* line 1784, ../scss/all.scss */
.login-page #login-content .chi {
    background-image: url('../img/flags_40x30/chi.png')
}
/* line 1787, ../scss/all.scss */
.login-page #login-content .hrv {
    background-image: url('../img/flags_40x30/hrv.png')
}
/* line 1790, ../scss/all.scss */
.login-page #login-content .cze {
    background-image: url('../img/flags_40x30/cze.png')
}
/* line 1793, ../scss/all.scss */
.login-page #login-content .dan {
    background-image: url('../img/flags_40x30/dan.png')
}
/* line 1796, ../scss/all.scss */
.login-page #login-content .dut {
    background-image: url('../img/flags_40x30/dut.png')
}
/* line 1799, ../scss/all.scss */
.login-page #login-content .eng {
    background-image: url('../img/flags_40x30/eng.png')
}
/* line 1802, ../scss/all.scss */
.login-page #login-content .est {
    background-image: url('../img/flags_40x30/est.png')
}
/* line 1805, ../scss/all.scss */
.login-page #login-content .fre {
    background-image: url('../img/flags_40x30/fre.png')
}
/* line 1808, ../scss/all.scss */
.login-page #login-content .ger {
    background-image: url('../img/flags_40x30/ger.png')
}
/* line 1811, ../scss/all.scss */
.login-page #login-content .gre {
    background-image: url('../img/flags_40x30/gre.png')
}
/* line 1814, ../scss/all.scss */
.login-page #login-content .hun {
    background-image: url('../img/flags_40x30/hun.png')
}
/* line 1817, ../scss/all.scss */
.login-page #login-content .ind {
    background-image: url('../img/flags_40x30/ind.png')
}
/* line 1820, ../scss/all.scss */
.login-page #login-content .gle {
    background-image: url('../img/flags_40x30/gle.png')
}
/* line 1823, ../scss/all.scss */
.login-page #login-content .ice {
    background-image: url('../img/flags_40x30/ice.png')
}
/* line 1826, ../scss/all.scss */
.login-page #login-content .ita {
    background-image: url('../img/flags_40x30/ita.png')
}
/* line 1829, ../scss/all.scss */
.login-page #login-content .jpn {
    background-image: url('../img/flags_40x30/jpn.png')
}
/* line 1832, ../scss/all.scss */
.login-page #login-content .kor {
    background-image: url('../img/flags_40x30/kor.png')
}
/* line 1835, ../scss/all.scss */
.login-page #login-content .lit {
    background-image: url('../img/flags_40x30/lit.png')
}
/* line 1838, ../scss/all.scss */
.login-page #login-content .lav {
    background-image: url('../img/flags_40x30/lav.png')
}
/* line 1841, ../scss/all.scss */
.login-page #login-content .mac {
    background-image: url('../img/flags_40x30/mac.png')
}
/* line 1844, ../scss/all.scss */
.login-page #login-content .nor {
    background-image: url('../img/flags_40x30/nor.png')
}
/* line 1847, ../scss/all.scss */
.login-page #login-content .pol {
    background-image: url('../img/flags_40x30/pol.png')
}
/* line 1850, ../scss/all.scss */
.login-page #login-content .por {
    background-image: url('../img/flags_40x30/por.png')
}
/* line 1853, ../scss/all.scss */
.login-page #login-content .rum {
    background-image: url('../img/flags_40x30/rum.png')
}
/* line 1856, ../scss/all.scss */
.login-page #login-content .rus {
    background-image: url('../img/flags_40x30/rus.png')
}
/* line 1859, ../scss/all.scss */
.login-page #login-content .srp {
    background-image: url('../img/flags_40x30/srp.png')
}
/* line 1862, ../scss/all.scss */
.login-page #login-content .slo {
    background-image: url('../img/flags_40x30/slo.png')
}
/* line 1865, ../scss/all.scss */
.login-page #login-content .slv {
    background-image: url('../img/flags_40x30/slv.png')
}
/* line 1868, ../scss/all.scss */
.login-page #login-content .spa {
    background-image: url('../img/flags_40x30/spa.png')
}
/* line 1871, ../scss/all.scss */
.login-page #login-content .swe {
    background-image: url('../img/flags_40x30/swe.png')
}
/* line 1874, ../scss/all.scss */
.login-page #login-content .tur {
    background-image: url('../img/flags_40x30/tur.png')
}
/* line 1877, ../scss/all.scss */
.login-page #login-content .ukr {
    background-image: url('../img/flags_40x30/ukr.png')
}
/* line 1880, ../scss/all.scss */
.login-page #login-content .vie {
    background-image: url('../img/flags_40x30/vie.png')
}




