.main-page {
    width: 100%;
    height: 100%;
    /*background-color:#3a3a3a;*/
    /*background-image:linear-gradient(top, #424242 0%, #121212 35%);*/
    /*background-image:-webkit-linear-gradient(top, #424242 0%, #121212 35%);*/
    /*background-image:-ms-linear-gradient(top, #424242 0%, #121212 35%);*/

    /*background-image:-webkit-gradient(*/
        /*linear,*/
        /*left top,*/
        /*left bottom,*/
        /*color-stop(0, #424242),*/
        /*color-stop(0.35, #121212)*/
    /*);*/
}


@media only screen
and (min-height : 100px)
and (max-height : 520px)
{
    .main-page #no-sets-selected {
        color: #fff;
        width: 90%;
        margin: 10px auto 0 auto;
        font-size: 14px;
    }

    .main-page #no-sets-selected .inner-wrapper{
        padding: 0 20px 10px 20px;
    }

    .main-page #no-sets-selected .header{
        margin-bottom: 5px;
    }
}

@media only screen
and (min-height : 521px)
{
    .main-page #no-sets-selected {
        color: #fff;
        width: 90%;
        margin: 40px auto 0 auto;
        font-size: 16px;
    }

    .main-page #no-sets-selected .inner-wrapper{
        padding: 0 20px 20px 20px;
    }

    .main-page #no-sets-selected .header{
        margin-bottom: 10px;
    }
}

.main-page #no-sets-selected .inner-wrapper{
    padding: 0 20px 20px 20px;
}

.main-page #no-sets-selected .header{
    text-align: center;
    font-size: 18px;
    background: #2aab3c;
    color: #fff;
    padding: 5px;
}

.main-page #no-sets-selected li{
    margin-top: 6px;
    margin-left: 20px;
}

.main-page #no-sets-selected .remind {
    text-align: center;
}

.main-page #no-sets-selected .remind .text {
    padding: 5px 20px;
}

.main-page #no-sets-selected .sync-icon {
    width: 25px;
    height: 25px;
    margin: 0 auto;
    position: relative;
    background-image: url('../img/sync_icon_2.png');
    background-size: 25px 25px;
}



/*
******************* MAIN LIST styles ************************
*/
.main-page #main-list li {
    height: 85px;
}

.main-page #main-list .left-container{
    height: 85px;
    line-height: 85px;
}

.main-page #main-list .words-group .progress-wrapper .bar {
    width: 50px;
    height: 10px;
    background: rgb(194, 194, 194);
    display: inline-block;
    position: relative;
    border-radius: 2px;
}

.main-page #main-list .words-group .progress-wrapper .bar .progress-value{
    position: absolute;
    left: 0;
    top: 0;
    width: 55%;
    height: 10px;
    background: rgb(0, 194, 39);
    display: inline-block;
    border-radius: 2px;
    /*position: relative;*/
}

.main-page #main-list .words-group .progress-wrapper .asure {
    margin-left: 5px;
}

.main-page #main-list .words-group .icon {
    background-size: 16px 16px;
}

.main-page #main-list .words-group .options .icon {
    background-image: url('../img/main_button_options_new.png');
}

.main-page #main-list .words-group .options.tapped {
    /*background: url('../img/main_button_options_new_focus.png');*/
}

.main-page #main-list .words-group .learn .icon {
    background-image: url('../img/main_button_learn.png');
}

.main-page #main-list .words-group .learn.tapped {
    /*background: url('../img/main_button_learn_new_focus.png');*/
}

.main-page .group-meta-data {
    right: 10px;
}