.mark .stars {
    margin-top: 100px;
    text-align: center;
}

.mark .stars .star {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: 50px 50px;
    background-image: url('../img/mark_star.png');
}

.mark .stars #mark-0.highlighted {
    background-image: url('../img/mark_star_filled_0.png');
}

.mark .stars #mark-1.highlighted {
    background-image: url('../img/mark_star_filled_1.png');
}

.mark .stars #mark-2.highlighted {
    background-image: url('../img/mark_star_filled_2.png');
}

.mark .stars #mark-3.highlighted {
    background-image: url('../img/mark_star_filled_3.png');
}

.mark .stars #mark-4.highlighted {
    background-image: url('../img/mark_star_filled_4.png');
}

.mark #description {
    display: none;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}

.mark #description.mark-0 {
    display: block;
    color: #f7280f;
}

.mark #description.mark-1 {
    display: block;
    color: #fc901b;
}

.mark #description.mark-2 {
    display: block;
    color: #e3d340;
}

.mark #description.mark-3 {
    display: block;
    color: #b1ee6a;
}

.mark #description.mark-4 {
    display: block;
    color: #4ca521;
}

.mark #send-footer {
    height: 50px;
    width: 100%;
    background: rgb(37, 162, 37);
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    position: absolute;
    bottom: 0;
}