.report #form {
    width: 97%;
    margin: 0 auto;
}

.report #description {
    padding: 7px 10px;
    text-align: center;
    font-size: 18px;
}

.report #form .checkbox {
    margin-bottom: 5px;
}

.report #form .checkbox.tapped {
    background: #f3f3f3;
}

.report #form #type-header {
    margin: 30px 0 5px 0;
    padding: 10px;
    font-size: 17px;
    border-bottom: solid 1px rgb(195, 195, 195);
}

.report #form .checkbox .label{
    display: inline-block;
    font-size: 19px;
    padding: 5px;
    pointer-events: none;
}

.report #form .checkbox .icon-wrapper{
    margin-left: 10px;
    position: relative;
    top: 3px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: rgb(219, 219, 219);
    border: solid 1px #D3D3D3;
    pointer-events: none;
}

.report #form .checkbox .icon{
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
}

.report #form .checkbox.selected .icon{
    background-image: url('../img/report_checkbox.png')
}

.report #send-footer {
    height: 50px;
    width: 100%;
    background: rgb(37, 162, 37);
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    position: absolute;
    bottom: 0;
}