.search #custom-header-area .group-name-container {
    display: inline-block;
}

.search #custom-header-area .group-name {
    font-size: 25px;
    top: 10px;
    margin-right: 60px;
    display: inline-block;
}

.search #search-options {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 70px;
}

.search #search-options .icon {
    width: 45px;
    height: 33px;
    background-image: url('../img/search_options.png');
    background-size: 45px 33px;
    position: absolute;
    right: 11px;
    top: 11px;
    pointer-events: none;
}

.search #search-options.tapped {
    background: rgb(49, 199, 70);
}



/*
******************* SEARCH LIST styles ************************
*/

/* sorter */
.search #reset-to-default-action {
    margin-top: 5px;
}

.search #filter-container {
    background: grey;
}
/* sorter end */
.search #search-list .button {

}

.search #search-list li {
    height: 85px;
}

.search #search-list li .stars-container,
.search #search-list li .recommend-container {
    float: right;
    margin-right: 5px;
}

.search #search-list li .recommend-container .icon {
    display: inline-block;
    width: 6px;
    height: 10px;
    background-image: url('../img/icon_recommend_small.png');
    background-size: 6px 10px;
    margin-right: 2px;
}

.search #search-list li .recommend-container .label {
    font-size: 11px;
    -webkit-text-shadow: 0 0 15px #ffffff;
    text-shadow: 0 0 15px #FFF;
    position: relative;
    bottom: 2px;
}


.search #search-list .left-container{
    height: 85px;
    line-height: 85px;
}

.search #search-list .words-group .options .icon {
    background-image: url('../img/main_button_options_new.png');
}

.search #search-list .words-group .start-learn .icon{
     background-image: url('../img/search_start_learn.png');
}

.search #search-list .words-group .browse.tapped {
    background: url('../img/search_group_browse_focus.png');
}



 /* stars*/
.search #stars-container {
    float: right;
    right: 3px;
    top: 2px;
    position: relative;
    display: inline-block;
    width: 45px;
    height: 13px;
    background-color: #D7D7D7;
    font-size: 17px;

}

/*.search #stars-container #mark-data {*/
    /*position: relative;*/
    /*left: 52px;*/
    /*bottom: 11px;*/
    /*line-height: 40px;*/
    /*font-size: 10px;*/
/*}*/

/*.search #stars-container #mark-data #mark-value {*/
    /*color: black;*/
    /*margin-right: 5px;*/
    /*font-size: 16px;*/
    /*position: relative;*/
    /*top: 1px;*/
/*}*/

/*.search #stars-container #mark-data #mark-count {*/
    /*font-size: 12px;*/
    /*color: black;*/
/*}*/

.search #stars-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 45px;
    height: 13px;
    background-size: 45px 13px;
    background-image: url('../img/stars_small.png');
    z-index: 2;
}

.search #stars-background-green {
    position: absolute;
    left: 0;
    top: 0;
    height: 13px;
    width: 45px;
    background-color: #15C34C;
}
/* stars end*/