.settings #custom-header-area .group-name {
    font-size: 25px;
    top: 10px;
    float: right;

}

.settings #settings-list #settings-network-separator {
    height: auto;
    margin-top: 30px;
    padding-left: 10px;
    position: relative;
    background: none;
}

.settings #settings-list #refresh {
    position: absolute;
    right: 15px;
    top: -15px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    background-image: url('../img/settings_refresh.png')
}