.stats #custom-header-area .group-name {
    font-size: 25px;
    top: 10px;
    float: right;

}

.stats .table-wrapper {
    border-bottom: solid 1px grey;
}

.stats table {
    padding: 10px;
    color: #fff;
}

.stats table td {
    padding: 5px 10px;
}

.stats table tr  {

}

.stats table .label  {
    font-size: 15px;
    color: #333333;
}

.stats table td.value {
    color: #242424;
    font-size: 19px;
    text-align: center;
}

.stats #no-stats-available {
    padding: 100px 20px;
    text-align: center;
    color: grey;
    font-size: 25px;
}

.stats tr.separator {
    height: 10px;
}