.words-groups-list {
    height: 100%;
    /*overflow-y: scroll;*/
    margin-top: 7px;
}

.words-groups-list td {
    white-space:nowrap;
}

.words-groups-list .words-group  tr td:nth-child(3) {
    padding-left: 25px;
}

.words-groups-list table {
    margin-left: 30px;
}

.words-groups-list .words-group .left-container{
    position: absolute;
    width: 30px;
    left: 0;
    top: 0;
    font-size: 25px;
    text-align: center;
    color: white;
    border-right: solid 1px #e0ece0;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;

    -webkit-box-shadow: 0 1px 0 0 #b0b0b0, -1px 0 1px 0 #b0b0b0;
}

.words-groups-list .words-group {
    width: 97%;
    margin: 7px auto;
    position: relative;
    list-style-type: none;
}

.words-groups-list .words-group .group-header {
    height: 28px;
    margin-left: 30px;
}

.words-groups-list .words-group .number{
    padding: 0 5px;
    background: green;

}

.words-groups-list .words-group .name{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 90%;
    display: inline-block;
    font-size: 22px;
    text-indent: 5px;
}

.words-groups-list .words-group .name .dot{
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #6C6C6C;
    display: inline-block;
    margin-right: 5px;
    margin-left: 10px;
}

.words-groups-list .description-item {
    line-height: 13px;
}

.words-groups-list .words-group .text {
    font-size: 13px;
    padding: 0 5px 2px 10px;
}

.words-groups-list .words-group .text-value{
    font-size: 15px;
    text-indent: 0;
}

.words-groups-list .words-group .group-info {
    width: 70%;
    float:left;
}

.words-groups-list .words-group .group-buttons  {
    position: absolute;
    right: 10px;
    bottom: 0;
}


.words-groups-list .words-group .group-buttons .button {
    height: 30px;
    line-height: 30px;
    padding: 0 15px 0 35px;
    margin: 8px 0;
    color: #F7F7F7;
    border-radius: 3px;
    position: relative;
}

.words-groups-list .words-group .group-buttons .button.tapped {
    background: #43E75A;
}

.words-groups-list .words-group .group-buttons .button .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: 16px;
    position: absolute;
    left: 12px;
    top: 7px;
    pointer-events: none;
}