<table id="browse-list">
    {{ for(var i = 0; i < it.collection.length; i++) { }}
        <tr>
            <td class="word-index" rowspan="2">{{=(i+1)}}</td>
            <td class="word-origin">{{=it.collection[i].origin}}</td>
        </tr>
        <tr>
            <td class="word-translated">{{=it.collection[i].translated}}</td>
        </tr>
    {{ } }}
</table>